body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #6a5ae0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 32px 64px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.button {
  padding: 8px 16px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 16px;
  background-color: white;
}

/* HEADER ============================= */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.header__title {
  flex-grow: 1;
  text-align: left;
}

.header__button {
  margin-left: 16px;
}

/* POPUP ============================== */
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6a5ae0;
  opacity: 0.8;
}

.popup__container {
  position: relative;
  z-index: 20;
  width: 320px;
  height: auto;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__text {
  margin-bottom: 16px;
}

.popup__link {
  margin-top: 16px;
  display: none;
}

.main {
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  width: calc((100% - 64px) / 5);
  height: calc((100% - 64px) / 5);
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms linear;
}

.card-red {
  background-color: #ff7d94;
}
.card-blue {
  background-color: #7d9aff;
}
.card-black {
  background-color: black;
  color: white;
}
.card-yellow {
  background-color: #ffe078;
}

.warning {
  height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

@media only screen and (orientation: portrait) {
  .wrapper {
    display: none;
  }
  .warning {
    display: flex;
  }
}
@media only screen and (orientation: landscape) {
  .wrapper {
    display: block;
  }
  .warning {
    display: none;
  }
}
